* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #ffffff;
}


/* header */

h1 {
    color: #333;
}

.nav {
    background: #4CAF50;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    margin: 0;
    color: white;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    cursor: pointer;
    
}

.nav-link:hover {
    text-decoration: underline;
}


/* Login page */


.containerLogin {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.titleLogin {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.logingroup {
    margin-bottom: 15px;
}

input[type="text"]{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="email"],
input[type="password"],
.loginform-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.loginform-button {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.loginform-button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}


/*register page */

.containerRegister {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.titleRegister {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.register-form {
    margin-bottom: 15px;
}

.register-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.register-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.register-form input:focus {
    border-color: #007BFF;
    outline: none;
}

.error {
    color: red;
    margin-bottom: 15px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

button[type="button"] {
    background-color: #007BFF;
}

button[type="button"]:hover {
    background-color: #0056b3;
}


/* Home page */

.container {
    text-align: center;
    padding: 50px 20px;
}

.title {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.description {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.city-selector {
    margin-bottom: 20px;
}

.city-selector label {
    font-size: 16px;
    margin-right: 10px;
}

.city-selector select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 10px;
}

.start-button {
    padding: 10px 20px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.start-button:hover {
    background: #45a049;
}

.admin-button {
    padding: 10px 20px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.admin-button :hover {
    background: #45a049;
}


/* Booking page */

.booking-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: white;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    margin-bottom: 10px;
    font-size: 16px;
    display: block;
}

.form-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

.location-input-group {
    display: flex;
    gap: 10px;
}

.location-button {
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.location-button:hover {
    background: #45a049;
}

.form-button {
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-button:hover {
    background: #45a049;
}


/*vehicle selection*/

.containerVehicle {
    text-align: center;
    padding: 20px;
}

.titleVechicle {
    font-size: 2em;
    margin-bottom: 20px;
}

.vehicle-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.vehicle-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    cursor: pointer;
    transition: transform 0.3s;
}

.vehicle-card:hover {
    transform: scale(1.05);
}

.vehicle-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.vehicle-name {
    font-size: 1.5em;
    margin: 10px 0;
}

.vehicle-seats {
    font-size: 1em;
    color: #555;
}


/* Auto List Styles */

.auto-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.auto-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px);
    box-sizing: border-box;
}

.auto-card h2 {
    margin-top: 0;
}

.auto-card p {
    margin: 5px 0;
}


/* Confirmation page */

.containerConfirmation {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.auto-details {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.auto-details h2 {
    margin-top: 0;
    color: #555;
}

.auto-details p {
    margin: 5px 0;
    color: #777;
}

.confirmation-form .form-group {
    margin-bottom: 15px;
}

.confirmation-form .form-label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.confirmation-form .form-input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.confirmation-form .form-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.confirmation-form .form-button:hover {
    background-color: #0056b3;
}


/* Admin page */

.containerAdmin {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titleAdmin {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.descriptionAdmin {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: center;
}

.admin-form {
    display: flex;
    flex-direction: column;
}

.Adminform {
    margin-bottom: 15px;
}

.Adminform label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.Adminform input,
.Adminform select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.Adminform input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

.AdminButton {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.AdminButton:hover {
    background-color: #218838;
}

.bookings {
    margin-top: 30px;
}

.booking {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.booking p {
    margin: 5px 0;
}

/* Card Style */
.driver-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px auto;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .driver-card h3 {
    margin: 0 0 10px 0;
    color: #333;
  }
  
  .driver-card p {
    margin: 5px 0;
    color: #555;
  }
  
  /* Button Styles */
  .update-availability-btn {
    background-color: grey;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .update-availability-btn:hover {
    background-color: darkgrey;
  }
  
  button.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button.delete-btn:hover {
    background-color: darkred;
  }

  .driverHeader{
    padding-top: 40px;
    text-align: center;
  margin-bottom: 20px;
  color: #333;
  }

  .adminLogout{
    color: #ffffff;
    background-color: #28a745;
  }


  .viewCont {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.viewCont .viewH1{
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.booking-cardView {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    text-align: left;
    transition: transform 0.2s, box-shadow 0.2s;
}

.booking-cardView:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.booking-cardView .viewH1 {
    font-size: 1.5rem;
    color: #007BFF;
    margin-bottom: 10px;
}

.booking-cardView .viewP {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
}

/* @media screen and (min-width: 600px) {
    .viewCont {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .booking-cardView {
        flex: 0 0 calc(48% - 10px);
        margin-bottom: 20px;
    }
} */


.dataCont {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.dataCont .dataH1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.dataCard {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    text-align: left;
    transition: transform 0.2s, box-shadow 0.2s;
}

.dataCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.dataCard .dataH2 {
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 10px;
}

.dataCard .dataP {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
}

